div#top-nav {
    border-bottom: 1px solid #D0D7E6;
    height: 64px;
    position: fixed;
    background-color: white;
    width: inherit;
    z-index: 2;
}
#top-nav > .row{
    margin: 0 auto;
    width: 98%;
}
#search-input{
    color: rgba(2, 44, 129, 0.8);
    height: 2rem;
    position: relative;
    top: 2px;
    border-width: 0;
    font-size: 16px;
}
#search-input:focus{
    border-bottom: 1px solid rgba(2, 44, 129, 0.8);
    border-width: 1px;
}
#search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(2, 44, 129, 0.6);
  opacity: 1; /* Firefox */
}

#search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(2, 44, 129, 0.6);
}

#search-input::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(2, 44, 129, 0.6);
}
img.search-icon {
    width: 20px;
    top: -2px;
    position: relative;
    margin-right: 5px;
}
img.top-nav-icon {
    width: 35px;
}
.switch {
    font-size: 14px;
    border: 1px solid #E7EBF3;
    padding: 3px 12px;
    /* padding-right: 3px; */
    border-radius: 40px;
}
.switch label .lever, .switch input[type=checkbox][disabled]+.lever {
    width: 50px;
    height: 25px;
    background-color: #F05050;
    margin-right: 0;
}
.switch label .lever:before{
    display: none;
}
.switch label .lever:after{
    top: 2px;
    left: 2px;
}
.switch label input[type=checkbox][disabled]+.lever:after, 
.switch label input[type=checkbox][disabled]:checked+.lever:after{
    background-color: white;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #ffffff;
    left: 29px;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #ADC959;
}
a.logout-btn {
    border: 1px solid #E7EBF3;
    padding: 3px 12px;
    border-radius: 40px;
    width: 80px;
    display: block;
    color: var(--pry-color);
    font-weight: 600;
    text-align: center;
}
.flex-div.tn-list li {
    padding-right: 15px;
}
.flex-div.tn-list li:last-child {
    padding-right: 5px;
}
.flex-div.tn-list, .flex-div.input-field {
    margin: 11px 0;
}
